* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
    overflow-x: hidden;
}

.name {
    height: 65px;
    width: 100%;
    border-radius: 5px;
    font-family: Itim;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user {
    height: 30px;
    padding-right: 10px;
}

#logoimg {
    height: 40px;
    margin-right: 10px;
}

#profile {
    border: 2px solid #e7e7e7;
    color: black;
    display: flex;
    font-weight: 600;
    font-size: 30px;
    padding: 27px;
    line-height: 50px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #ffffff;
    margin: 5px;
    box-shadow:  #000000 10px 10px 3px 0;
    height: 50px;
    width: auto;
    justify-content: center;
    align-items: center;
}

#main {
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 250px);
    row-gap: 50px;
    column-gap: 100px;
    justify-content: center;
    align-content: center;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.data:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.data {
    display: none;
    width: 350px;
    background-color: #ffffff;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    height: 250px;
    cursor: pointer;
    border: 2px solid #754a00;
    border-radius: 30px;
    color: rgb(1, 93, 174);
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    font-family: Poppins;
    padding: 40px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #ffffff;
    box-shadow: inset 5px 5px 15px rgb(0, 0, 0), #ffffff 8px 8px 0 0;
}

.data p{
    font-weight: 700;
    font-size: 20px;
}

#footer {
    width: 100vw;
    height: 50px;
    background-color: black;
}