* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, #d5d5d5, white);
    background-repeat: no-repeat;
}

#logo {
    padding: 10px;
}

#logo img {
    height: 60px;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#text-heading {
    padding-right: 180px;
    margin-right: 50px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    font-family: Itim;
    color: #01417d;
}

#container {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    height: 600px;
    width: 700px;
    border: 5px solid #a7a7a7;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    width: 400px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    padding: 0 0 0 50px;
}

#main-container {
    display: flex;
    justify-content: center;
}

#address {
    height: 45px;
}

#gender {
    font-size: 15px;
}

.form input {
    margin-bottom: 10px;
    display: flex;
    font-size: 16px;
    border-radius: 5px;
    padding: 3px;
}

#button-conatiner {
    background-color: #ffeeee;
    width: 300px;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#farmer {
    margin-top: 150px;
}

#landlord {
    margin-bottom: 150px;
}
.nxtpg{

  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-direction: row;
  font-family: Eina01,sans-serif;
  font-size: 18px;
  font-weight: 800;
  justify-content: center;
  outline: none;
  overflow: visible;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .nxtpg {
    padding: 19px 32px;
  }
}

.nxtpg:before,
.nxtpg:after {
  border-radius: 80px;
}

.nxtpg:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.nxtpg:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.nxtpg:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.nxtpg:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.nxtpg:active:not(:disabled) {
  color: #ccc;
}

.nxtpg:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.nxtpg:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.nxtpg:disabled {
  cursor: default;
  opacity: .24;
}
